.infos{line-height: 5em; font-size: 1.5em;margin: 0 auto;}
.infos td{margin-left: 20px;}
input{margin-left: 20px; line-height: 2em;font-size: 1.1em;border-radius: 10px;border: 1px solid #72aad1;background-color: #2e6fa8;color: white;width: 6em;cursor: pointer;}